<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale: 1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <link rel="SHORTCUT ICON" href=""/>
    <link rel="Stylesheet" href="css/main.css" type="text/css" />
</head>
<body>
<script src="/js/require.config.js"></script>
<script data-main="/js/app.js" src="/js/vendor/require.js"></script>
</body>
</html>